<!-- <!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css.css">
</head> -->

<body>
    <div class="container-fluid" ng-controller="userController">
        <!-- <div class="row">
            <div class="col-md-2 p-0 bg-secondary collapse collapse-horizontal show" style="min-height: 100vh;" id="opentMenu">
                <strong class="text-center d-block p-3 text-while">Trang quản lý</strong>
                <div class="list-group list-group-item-secondary m-3">
                    <a href="#" class="list-group-item list-group-item-action  bg-secondary text-while" aria-current="true">
                      Tổng quan
                    </a>
                    <a href="#" class="list-group-item list-group-item-action active">Tài khoản</a>
                    <a href="#" class="list-group-item list-group-item-action">Áo </a>
                    <a href="#" class="list-group-item list-group-item-action">Quần</a>
                    <a href="#" class="list-group-item list-group-item-action " aria-disabled="true">Túi sách</a>
                  </div>
            </div> -->
            <div class="col-md p-0">
                <!-- <nav class="navbar navbar-expand-lg bg-secondary" data-bs-theme="dark">
                    <div class="container-fluid">
                    <button class="btn btn-outline-light me-2" type="button" data-bs-toggle="collapse" data-bs-target="#opentMenu" aria-expanded="false" aria-controls="opentMenu">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    <a class="navbar-brand" href="#">DEGRAY</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Xin chào Sơn
                            </a>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Trang chủ</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                            </ul>
                        </li>
                        
                        </ul>
                    </div>
                    </div>
                </nav> -->
                
                <div class="container">
                    <h2 class="my-3">Thêm Tài khoản</h2>
                    <form name="myForm" ng-submit="addUser()">
                      <div class="mb-3">
                        <label for="SoDienThoai" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" name="user.sdt" placeholder="Nhập tên so dien thoai" ng-model="user.sdt" required>
                        <div style="color:red" ng-if="myForm['user.sdt'].$touched && myForm['user.sdt'].$invalid">
                          Vui lòng nhập sdt
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="img" class="form-label">Hình ảnh</label>
                        <input type="text" class="form-control" name="user.image" placeholder="Nhập link hình ảnh" ng-model="user.image" required>
                        <div style="color:red" ng-if="myForm['user.image'].$touched && myForm['user.image'].$invalid">
                          <span ng-if="myForm['user.price'].$error.required">Vui lòng nhập linh hình ảnh</span>
                
                        </div>
                      <div class="mb-3">
                        <label for="hoten" class="form-label">ho va ten</label>
                        <input type="text" class="form-control" name="user.name" placeholder="Nhập tên so dien thoai" ng-model="user.name" required>
                        <div style="color:red" ng-if="myForm['user.name'].$touched && myForm['user.name'].$invalid">
                          Vui lòng nhập ho va ten
                        </div>
                      </div>
                      
                      <div class="mb-3">
                        <label for="email" class="form-label">email</label>
                        <input type="text" class="form-control" name="user.email" placeholder="Nhập tên email" ng-model="user.email" required>
                        <div style="color:red" ng-if="myForm['user.email'].$touched && myForm['user.email'].$invalid">
                          Vui lòng nhập email
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="mk" class="form-label">mat khau</label>
                        <input type="text" class="form-control" name="user.mk" placeholder="Nhập tên so mat khaudien thoai" ng-model="user.mk" required>
                        <div style="color:red" ng-if="myForm['user.mk'].$touched && myForm['user.mk'].$invalid">
                          Vui lòng nhập mat khau
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="phanquyen" class="form-label">Quyền</label>
                        <input type="text" class="form-control" name="user.phanquyen" placeholder="Nhập tên so dien thoai" ng-model="user.phanquyen" required>
                        <div style="color:red" ng-if="myForm['user.phanquyen'].$touched && myForm['user.phanquyen'].$invalid">
                          Vui lòng nhập quyen
                        </div>
                      </div>
                      
                      <button class="btn btn-primary">Xác nhận</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>